body {
    background-color: #212129;
}

.display-4 {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
}

.lead {
    letter-spacing: 2px;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1.2%;
    padding-top: 2%;
    background-color: #4c5265;
    color: #fdfcf3;
}

.my-4 {
    background-color: #323949;
}

#searchBar {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#addCat {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #26699c;
    color: #fdfcf3;
}

#addCat:hover {
    background-color: #007fd3;
}

.plus10 {
    margin-right: 1%;
    margin-bottom: 5px;
    background-color: #6897bb;
    border-radius: 25px;
}

.col-form-label {
    float: none;
    margin: 50;
}

.parameters {
    float: none;
    margin: 0 auto;
    align-content: center;
}

#ratingSelect {
    float: none;
    margin-left: 0 auto;
}

#buttonCard {
    margin: 2%;
    border-radius: 25px;
    background-color: #323949;
}

#buttonBody {
    padding-bottom: 0;
}

#gifDisplay {
    margin: 2%;
    display: none;
    background-color: #323949;
}

.gifBtn {
    margin-right: 1%;
    margin-bottom: 5px;
    background-color: #26699c;
    border-radius: 25px;
    color: #fdfcf3;
}

.gifBtn:hover {
    background-color: #348ed3;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .1s;
}

.gif {
    margin-right: 50px;
}

.gif-title {
    text-transform: capitalize;
    margin-right: 20%;
    color: #fdfcf3;
}

.gif-rating {
    color: #fdfcf3;
    text-transform: capitalize;
}