.jumbotron {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1.2%;
    padding-top: 2%;
}

#searchBar {
    border-radius: 25px;
}

.jumboBtn {
    border-radius: 25px;
    margin-top: 2%;
}

#buttonCard {
    margin: 2%;
    border-radius: 25px;
}

#gifDisplay {
    margin: 2%;
}